<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:site_name" content="Mainroom">
		<meta property="og:title" content="Mainroom - Livestreaming for DJs - Coming Soon!">

		<title>Mainroom - Livestreaming for DJs - Coming Soon!</title>

		<link rel="icon" type="image/png" href="https://dp8ki4pcym3cc.cloudfront.net/mainroom_favicon.png"/>

		<style>
			html, body {
				background-color: black;
				color: white;
				text-align: center; 
				font-family: Helvetica, Arial, sans-serif; 
				font-weight: bold; 
				font-style : italic;
			}
			img, h1, h4 {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			img {
				margin-top: 1.5rem;
				width: 50%;
			}
			a {
				color: white;
			}
			@media screen and (max-width: 768px) {
				img, h1 {
					width: 75%
				}
			}
			@media screen and (max-width: 576px) {
				img, h1 {
					width: 100%
				}
			}
		</style>
	</head>

	<body>
		<img src="https://dp8ki4pcym3cc.cloudfront.net/mainroom_banner_md.png" class="w-100-sm-50-md" alt="Mainroom Logo"></img>
		<h1 class="w-100-sm-50-md">A livestreaming platform tailored exclusively for DJs</h1>
		<h1 id="timer"></h1>
		<br></br>
		<h4>SAVE THE DATE (Friday 19th March 2021)</h4>
		<h4>BOOKMARK THIS PAGE (<a href="http://mainroom.tv">mainroom.tv</a>)</h4>
		<h4>LET'S HAVE A RAVE!</h4>
		<br></br>

		<script>
			const launchDate = new Date("Mar 19, 2021 00:00:00").getTime();

			(function updateTimer() {
				const timeRemaining = launchDate - Date.now();
				
				if (timeRemaining > 0) {
					const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
					const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
					const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
						
					document.getElementById("timer").innerHTML = "Launches in " + days + "d " + hours + "h " + minutes + "m " + seconds + "s";
					
					setTimeout(updateTimer, 1000);
				} else {
					document.getElementById("timer").innerHTML = "MAINROOM IS LIVE";
				}
			})();
		</script>
	</body>
</html>
