<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Mainroom</a>
        <div class="collapse navbar-collapse"></div>
    </div>
</nav>